.content{
    width: 80%;
    height: 75%;
    margin: 0 auto;
    display: flex;
    @media (max-width:1315px) {
        width: 90%;
        height: 85%;
    }
    @media (max-width:1000px) {
        flex-direction: column;
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 100%;
        @media (max-width:1000px) {
            width: 100%;
        }
        .textpick{
            margin-top: 70px;
            margin-bottom: 50px;
            font-size: 28px;
            @media (max-width:1000px) {
                margin: 50px 0;
            }
            @media (max-width:660px) {
                font-size: 16px;
                text-align: center;
            }
            span{
                font-family: 'Barlow Condensed';
                letter-spacing: 4.725px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .numberpick{
                opacity: 0.25;
                padding-right: 28px;
                @media (max-width:660px){
                    padding-right: 14px;
                    
                }
            }
        }
        img{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            @media (max-width:1000px) {
                width: 35%;
            }
        }
    }
    .rigth{
        width: 50%;
        color: white;
        max-width: 444px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        @media (max-width:1000px) {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            max-width: 570px;
        }
        ul{
            list-style: none;
            display: flex;
            padding-bottom: 37px;
            justify-content: space-between;
            @media (max-width:1000px) {
                justify-content: space-evenly;
                margin-top: 50px;
            }
            a{
                text-decoration: none;
                color: white;
            }
            li{
                height: 30px;
                font-size: 16px;
                font-family: 'Barlow Condensed';
                letter-spacing: 2.7px;
                cursor: pointer;
                @media (max-width:660px) {
                    font-size: 14px;
                }
            }
        }
        h1{
            font-family: 'Bellefair';
            font-size: 100px;
            font-weight: 400;
            @media (max-width:660px) {
                font-size: 56px;
            }
        }
        p{
            font-size: 18px;
            font-family: 'Barlow';
            color: #D0D6F9;
            padding-bottom: 54px;
            border-bottom: 1px solid #383B4B;
            @media (max-width:660px) {
                font-size: 15px;
            }
        }
        .rigthbotton{
            width: 100%;
            display: flex;
            justify-content: baseline;
            @media (max-width:1000px) {
                justify-content: center;
                margin-bottom: 60px;
            }
            @media (max-width:400px) {
                flex-direction: column;  
            }
            .distance{
                padding-right: 70px;
                @media (max-width:400px) {
                    padding-right: 0;
                }
            }
            p{
                padding: 0;
                padding-top: 28px;
                padding-bottom: 13px;
                font-family: 'Barlow Condensed';
                border: none;
                font-size: 14px;
                letter-spacing: 2.3625px;
            }
            span{
                font-size: 28px;
                font-family: 'Bellefair';
            }
        }
    }
}